workflows/whatsapp_order_flow.json
{
  "id": "whatsapp_order_flow",
  "name": "WhatsApp Order Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp/webhook",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-001",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "wa-inbound-dfiru"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst entry = body?.entry;\nif (!entry?.[0]?.changes?.[0]) return [];\nconst value = entry[0].changes[0].value;\nif (!value?.messages?.[0]) return [];\nconst msg = value.messages[0];\nconst phone = msg.from;\nconst msgType = msg.type;\nlet msgBody = null;\nlet buttonId = null;\nlet listId = null;\nif (msgType === 'text') {\n  msgBody = msg.text?.body || '';\n} else if (msgType === 'interactive') {\n  const iType = msg.interactive?.type;\n  if (iType === 'button_reply') {\n    buttonId = msg.interactive.button_reply?.id || null;\n  } else if (iType === 'list_reply') {\n    listId = msg.interactive.list_reply?.id || null;\n  }\n}\nreturn [{ json: { phone, msgType, body: msgBody, buttonId, listId } }];"
      },
      "id": "node-002",
      "name": "Parse WA Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=wa_sess_{{ $json.phone }}"
      },
      "id": "node-003",
      "name": "Redis Get Session",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "redis": {
          "id": "hdN3B1mFgIl1BiZA",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $process.env.API_BASE_URL || 'http://backend:3000' }}/productos",
        "options": {}
      },
      "id": "node-004",
      "name": "Get Products",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $process.env.API_BASE_URL || 'http://backend:3000' }}/pizza-sabores",
        "options": {}
      },
      "id": "node-005",
      "name": "Get Sabores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const parseData = $('Parse WA Payload').first().json;\nconst redisData = $('Redis Get Session').first().json;\nconst productsRaw = $('Get Products').first().json;\nconst saboresRaw = $('Get Sabores').first().json;\n\nconst products = Array.isArray(productsRaw) ? productsRaw : [];\nconst sabores = Array.isArray(saboresRaw) ? saboresRaw : [];\n\nconst phone = parseData.phone;\nconst msgType = parseData.msgType;\nconst msgBody = parseData.body;\nconst buttonId = parseData.buttonId;\nconst listId = parseData.listId;\n\nlet session;\ntry {\n  session = redisData.value ? JSON.parse(redisData.value) : null;\n} catch(e) {\n  session = null;\n}\n\nif (!session || !session.step) {\n  session = {\n    step: 'await_tipo',\n    tipoPedido: null,\n    nombreCliente: null,\n    telefonoCliente: phone,\n    direccionCliente: null,\n    metodoPago: null,\n    observaciones: null,\n    cart: [],\n    cur: {}\n  };\n}\n\nfunction fmt(n) { return '$' + Number(n).toLocaleString('es-CO'); }\n\nfunction cartSummary(cart) {\n  if (!cart.length) return 'El carrito esta vacio.';\n  return cart.map((item, i) => {\n    let line = `${i+1}. ${item.productoNombre} ${item.varianteNombre || ''} x${item.cantidad}`;\n    if (item.sabor1) line += ` [${[item.sabor1, item.sabor2, item.sabor3].filter(Boolean).join('/')}]`;\n    line += ` = ${fmt(item.subtotal)}`;\n    return line;\n  }).join('\\n');\n}\n\nfunction cartTotal(cart) {\n  return cart.reduce((s, i) => s + (Number(i.subtotal) || 0), 0);\n}\n\nfunction btnMsg(body, buttons, header) {\n  const msg = {\n    messaging_product: 'whatsapp',\n    to: phone,\n    type: 'interactive',\n    interactive: {\n      type: 'button',\n      body: { text: String(body).substring(0, 1024) },\n      action: { buttons }\n    }\n  };\n  if (header) msg.interactive.header = { type: 'text', text: String(header).substring(0, 60) };\n  return msg;\n}\n\nfunction listMsg(body, sections, buttonText, header) {\n  const msg = {\n    messaging_product: 'whatsapp',\n    to: phone,\n    type: 'interactive',\n    interactive: {\n      type: 'list',\n      body: { text: String(body).substring(0, 1024) },\n      action: {\n        button: String(buttonText || 'Ver opciones').substring(0, 20),\n        sections\n      }\n    }\n  };\n  if (header) msg.interactive.header = { type: 'text', text: String(header).substring(0, 60) };\n  return msg;\n}\n\nfunction textMsg(text) {\n  return {\n    messaging_product: 'whatsapp',\n    to: phone,\n    type: 'text',\n    text: { body: String(text).substring(0, 4096) }\n  };\n}\n\nfunction activeVariants(product) {\n  return (product.variantes || []).filter(v => v.activo !== false);\n}\n\nfunction buildProductListMsg() {\n  const pizzas = products.filter(p => p.activo !== false && p.productoNombre.toLowerCase().includes('pizza'));\n  const others = products.filter(p => p.activo !== false && !p.productoNombre.toLowerCase().includes('pizza'));\n  const sections = [];\n  if (pizzas.length) {\n    sections.push({\n      title: 'Pizzas',\n      rows: pizzas.slice(0, 10).map(p => ({\n        id: `prod_${p.productoId}`,\n        title: p.productoNombre.substring(0, 24),\n        description: activeVariants(p).map(v => `${v.nombre} ${fmt(v.precio)}`).join(' | ').substring(0, 72)\n      }))\n    });\n  }\n  if (others.length) {\n    sections.push({\n      title: 'Otros Productos',\n      rows: others.slice(0, 10).map(p => ({\n        id: `prod_${p.productoId}`,\n        title: p.productoNombre.substring(0, 24),\n        description: activeVariants(p).map(v => `${v.nombre} ${fmt(v.precio)}`).join(' | ').substring(0, 72)\n      }))\n    });\n  }\n  if (!sections.length) {\n    sections.push({ title: 'Menu', rows: [{ id: 'no_prod', title: 'Sin productos', description: 'Contactenos directamente' }] });\n  }\n  return listMsg('Selecciona un producto:', sections, 'Ver Menu', \"Menu D'Firu\");\n}\n\nfunction buildSaboresListMsg(label) {\n  const tradicionales = sabores.filter(s => s.activo !== false && s.tipo === 'tradicional');\n  const especiales = sabores.filter(s => s.activo !== false && s.tipo !== 'tradicional');\n  const toRow = s => ({\n    id: `sab_${s.nombre.replace(/\\s+/g, '_')}`,\n    title: s.nombre.substring(0, 24),\n    description: s.tipo !== 'tradicional' ? `Especial +${fmt(s.recargoGrande || 0)}` : 'Sabor clasico'\n  });\n  const sections = [];\n  if (tradicionales.length) sections.push({ title: 'Sabores Clasicos', rows: tradicionales.slice(0, 10).map(toRow) });\n  if (especiales.length) sections.push({ title: 'Sabores Especiales', rows: especiales.slice(0, 10).map(toRow) });\n  if (!sections.length) sections.push({ title: 'Sabores', rows: [{ id: 'sab_Clasica', title: 'Clasica', description: 'Sabor de la casa' }] });\n  return listMsg(label || 'Elige un sabor:', sections, 'Ver Sabores', 'Sabores Pizza');\n}\n\nlet waPayload = null;\nlet needsOrderCreation = false;\nlet orderData = null;\nlet updatedSession = JSON.parse(JSON.stringify(session));\n\nconst step = session.step || 'await_tipo';\nconst cur = session.cur || {};\n\nif (step === 'await_tipo') {\n  waPayload = btnMsg(\n    \"Bienvenido a *D'Firu Pizza*!\\n\\nComo deseas tu pedido?\",\n    [\n      { type: 'reply', reply: { id: 'tipo_mesa', title: 'En Mesa' } },\n      { type: 'reply', reply: { id: 'tipo_llevar', title: 'Para Llevar' } },\n      { type: 'reply', reply: { id: 'tipo_domicilio', title: 'Domicilio' } }\n    ],\n    \"D'Firu Pizza\"\n  );\n  updatedSession.step = 'await_tipo_select';\n}\n\nelse if (step === 'await_tipo_select') {\n  if (buttonId === 'tipo_mesa') {\n    updatedSession.tipoPedido = 'mesa';\n    updatedSession.step = 'await_product';\n    waPayload = buildProductListMsg();\n  } else if (buttonId === 'tipo_llevar') {\n    updatedSession.tipoPedido = 'llevar';\n    updatedSession.step = 'await_nombre';\n    waPayload = textMsg('Escribe tu *nombre* para identificar tu pedido:');\n  } else if (buttonId === 'tipo_domicilio') {\n    updatedSession.tipoPedido = 'domicilio';\n    updatedSession.step = 'await_nombre';\n    waPayload = textMsg('Escribe tu *nombre completo*:');\n  } else {\n    waPayload = btnMsg(\n      'Selecciona como deseas tu pedido:',\n      [\n        { type: 'reply', reply: { id: 'tipo_mesa', title: 'En Mesa' } },\n        { type: 'reply', reply: { id: 'tipo_llevar', title: 'Para Llevar' } },\n        { type: 'reply', reply: { id: 'tipo_domicilio', title: 'Domicilio' } }\n      ]\n    );\n  }\n}\n\nelse if (step === 'await_nombre') {\n  if (msgType === 'text' && msgBody && msgBody.trim().length >= 2) {\n    updatedSession.nombreCliente = msgBody.trim();\n    if (session.tipoPedido === 'domicilio') {\n      updatedSession.step = 'await_direccion';\n      waPayload = textMsg('Escribe la *direccion de entrega*:');\n    } else {\n      updatedSession.step = 'await_product';\n      waPayload = buildProductListMsg();\n    }\n  } else {\n    waPayload = textMsg('Escribe tu nombre (minimo 2 caracteres):');\n  }\n}\n\nelse if (step === 'await_direccion') {\n  if (msgType === 'text' && msgBody && msgBody.trim().length >= 5) {\n    updatedSession.direccionCliente = msgBody.trim();\n    updatedSession.step = 'await_product';\n    waPayload = buildProductListMsg();\n  } else {\n    waPayload = textMsg('Escribe la *direccion completa* (minimo 5 caracteres):');\n  }\n}\n\nelse if (step === 'await_product') {\n  if (listId && listId.startsWith('prod_')) {\n    const prodId = parseInt(listId.replace('prod_', ''), 10);\n    const product = products.find(p => p.productoId === prodId);\n    if (product) {\n      const isPizza = product.productoNombre.toLowerCase().includes('pizza');\n      const variants = activeVariants(product);\n      updatedSession.cur = {\n        productoId: product.productoId,\n        productoNombre: product.productoNombre,\n        tipo: isPizza ? 'Pizza' : product.productoNombre,\n        isPizza,\n        varianteId: null, varianteNombre: null, variantePrecio: 0,\n        sabor1: null, sabor2: null, sabor3: null, cantidad: 1\n      };\n      if (variants.length === 0) {\n        waPayload = textMsg(`Lo sentimos, ${product.productoNombre} no esta disponible.`);\n      } else if (variants.length === 1) {\n        updatedSession.cur.varianteId = variants[0].varianteId;\n        updatedSession.cur.varianteNombre = variants[0].nombre;\n        updatedSession.cur.variantePrecio = Number(variants[0].precio) || 0;\n        if (isPizza) {\n          updatedSession.step = 'await_sabor1';\n          waPayload = buildSaboresListMsg(`Elige el primer sabor de tu *${product.productoNombre} ${variants[0].nombre}*:`);\n        } else {\n          updatedSession.step = 'await_qty';\n          waPayload = btnMsg(\n            `*${product.productoNombre}*\\nPrecio: ${fmt(variants[0].precio)}\\n\\nCuantas unidades?`,\n            [\n              { type: 'reply', reply: { id: 'qty_1', title: '1 unidad' } },\n              { type: 'reply', reply: { id: 'qty_2', title: '2 unidades' } },\n              { type: 'reply', reply: { id: 'qty_3', title: '3 unidades' } }\n            ]\n          );\n        }\n      } else {\n        updatedSession.step = isPizza ? 'await_variant_pizza' : 'await_variant_other';\n        if (variants.length <= 3) {\n          waPayload = btnMsg(\n            `*${product.productoNombre}*\\n\\nQue tamano/variante deseas?`,\n            variants.slice(0, 3).map(v => ({\n              type: 'reply',\n              reply: { id: `var_${product.productoId}_${v.varianteId}`, title: `${v.nombre} ${fmt(v.precio)}`.substring(0, 20) }\n            }))\n          );\n        } else {\n          waPayload = listMsg(\n            `*${product.productoNombre}*\\n\\nSelecciona el tamano:`,\n            [{ title: 'Variantes', rows: variants.slice(0, 10).map(v => ({ id: `var_${product.productoId}_${v.varianteId}`, title: v.nombre.substring(0, 24), description: fmt(v.precio) })) }],\n            'Ver Variantes'\n          );\n        }\n      }\n    } else {\n      waPayload = buildProductListMsg();\n    }\n  } else {\n    waPayload = buildProductListMsg();\n  }\n}\n\nelse if (step === 'await_variant_pizza' || step === 'await_variant_other') {\n  const varRaw = buttonId || listId;\n  if (varRaw && varRaw.startsWith('var_')) {\n    const parts = varRaw.split('_');\n    const pId = parseInt(parts[1], 10);\n    const vId = parseInt(parts[2], 10);\n    const product = products.find(p => p.productoId === pId || p.productoId === cur.productoId);\n    const variant = product ? activeVariants(product).find(v => v.varianteId === vId) : null;\n    if (variant) {\n      updatedSession.cur = { ...cur, varianteId: variant.varianteId, varianteNombre: variant.nombre, variantePrecio: Number(variant.precio) || 0 };\n      if (cur.isPizza) {\n        updatedSession.step = 'await_sabor1';\n        waPayload = buildSaboresListMsg(`Elige el primer sabor para tu *${cur.productoNombre} ${variant.nombre}*:`);\n      } else {\n        updatedSession.step = 'await_qty';\n        waPayload = btnMsg(\n          `*${cur.productoNombre} - ${variant.nombre}*\\n${fmt(variant.precio)}\\n\\nCuantas unidades?`,\n          [\n            { type: 'reply', reply: { id: 'qty_1', title: '1 unidad' } },\n            { type: 'reply', reply: { id: 'qty_2', title: '2 unidades' } },\n            { type: 'reply', reply: { id: 'qty_3', title: '3 unidades' } }\n          ]\n        );\n      }\n    } else {\n      waPayload = buildProductListMsg();\n    }\n  }\n}\n\nelse if (step === 'await_sabor1') {\n  if (listId && listId.startsWith('sab_')) {\n    const saborNombre = listId.replace('sab_', '').replace(/_/g, ' ');\n    updatedSession.cur = { ...cur, sabor1: saborNombre };\n    updatedSession.step = 'await_more_s1';\n    waPayload = btnMsg(\n      `Sabor 1: *${saborNombre}* ✓\\n\\nDeseas agregar un segundo sabor?`,\n      [\n        { type: 'reply', reply: { id: 'more_s1_yes', title: 'Si, otro sabor' } },\n        { type: 'reply', reply: { id: 'more_s1_no', title: 'No, continuar' } }\n      ]\n    );\n  } else {\n    waPayload = buildSaboresListMsg('Elige el primer sabor de tu pizza:');\n  }\n}\n\nelse if (step === 'await_more_s1') {\n  if (buttonId === 'more_s1_yes') {\n    updatedSession.step = 'await_sabor2';\n    waPayload = buildSaboresListMsg('Elige el segundo sabor:');\n  } else if (buttonId === 'more_s1_no') {\n    updatedSession.step = 'await_qty';\n    waPayload = btnMsg(\n      `*${cur.productoNombre} ${cur.varianteNombre}*\\nSabor: ${cur.sabor1}\\n\\nCuantas unidades?`,\n      [\n        { type: 'reply', reply: { id: 'qty_1', title: '1 unidad' } },\n        { type: 'reply', reply: { id: 'qty_2', title: '2 unidades' } },\n        { type: 'reply', reply: { id: 'qty_3', title: '3 unidades' } }\n      ]\n    );\n  } else {\n    waPayload = btnMsg(\n      'Deseas agregar un segundo sabor?',\n      [\n        { type: 'reply', reply: { id: 'more_s1_yes', title: 'Si, otro sabor' } },\n        { type: 'reply', reply: { id: 'more_s1_no', title: 'No, continuar' } }\n      ]\n    );\n  }\n}\n\nelse if (step === 'await_sabor2') {\n  if (listId && listId.startsWith('sab_')) {\n    const saborNombre = listId.replace('sab_', '').replace(/_/g, ' ');\n    updatedSession.cur = { ...cur, sabor2: saborNombre };\n    updatedSession.step = 'await_more_s2';\n    waPayload = btnMsg(\n      `Sabor 1: *${cur.sabor1}* ✓\\nSabor 2: *${saborNombre}* ✓\\n\\nDeseas un tercer sabor?`,\n      [\n        { type: 'reply', reply: { id: 'more_s2_yes', title: 'Si, tercer sabor' } },\n        { type: 'reply', reply: { id: 'more_s2_no', title: 'No, continuar' } }\n      ]\n    );\n  } else {\n    waPayload = buildSaboresListMsg('Elige el segundo sabor:');\n  }\n}\n\nelse if (step === 'await_more_s2') {\n  if (buttonId === 'more_s2_yes') {\n    updatedSession.step = 'await_sabor3';\n    waPayload = buildSaboresListMsg('Elige el tercer sabor:');\n  } else if (buttonId === 'more_s2_no') {\n    updatedSession.step = 'await_qty';\n    waPayload = btnMsg(\n      `*${cur.productoNombre} ${cur.varianteNombre}*\\nSabores: ${cur.sabor1} / ${cur.sabor2}\\n\\nCuantas unidades?`,\n      [\n        { type: 'reply', reply: { id: 'qty_1', title: '1 unidad' } },\n        { type: 'reply', reply: { id: 'qty_2', title: '2 unidades' } },\n        { type: 'reply', reply: { id: 'qty_3', title: '3 unidades' } }\n      ]\n    );\n  } else {\n    waPayload = btnMsg(\n      'Deseas un tercer sabor?',\n      [\n        { type: 'reply', reply: { id: 'more_s2_yes', title: 'Si, tercer sabor' } },\n        { type: 'reply', reply: { id: 'more_s2_no', title: 'No, continuar' } }\n      ]\n    );\n  }\n}\n\nelse if (step === 'await_sabor3') {\n  if (listId && listId.startsWith('sab_')) {\n    const saborNombre = listId.replace('sab_', '').replace(/_/g, ' ');\n    updatedSession.cur = { ...cur, sabor3: saborNombre };\n    updatedSession.step = 'await_qty';\n    const sabTxt = [cur.sabor1, cur.sabor2, saborNombre].filter(Boolean).join(' / ');\n    waPayload = btnMsg(\n      `Sabores: ${sabTxt} ✓\\n\\nCuantas unidades?`,\n      [\n        { type: 'reply', reply: { id: 'qty_1', title: '1 unidad' } },\n        { type: 'reply', reply: { id: 'qty_2', title: '2 unidades' } },\n        { type: 'reply', reply: { id: 'qty_3', title: '3 unidades' } }\n      ]\n    );\n  } else {\n    waPayload = buildSaboresListMsg('Elige el tercer sabor:');\n  }\n}\n\nelse if (step === 'await_qty') {\n  const qtyMap = { qty_1: 1, qty_2: 2, qty_3: 3 };\n  const qty = buttonId ? qtyMap[buttonId] : null;\n  if (qty) {\n    const finalCur = (updatedSession.cur && updatedSession.cur.varianteId) ? updatedSession.cur : cur;\n    const subtotal = Number(finalCur.variantePrecio || 0) * qty;\n    const cartItem = {\n      tipo: finalCur.tipo || finalCur.productoNombre,\n      productoId: finalCur.productoId,\n      varianteId: finalCur.varianteId,\n      productoNombre: finalCur.productoNombre,\n      varianteNombre: finalCur.varianteNombre,\n      precio: finalCur.variantePrecio,\n      sabor1: finalCur.sabor1 || null,\n      sabor2: finalCur.sabor2 || null,\n      sabor3: finalCur.sabor3 || null,\n      cantidad: qty,\n      subtotal\n    };\n    updatedSession.cart = [...(session.cart || []), cartItem];\n    updatedSession.cur = {};\n    updatedSession.step = 'await_cart';\n    const total = cartTotal(updatedSession.cart);\n    const summary = cartSummary(updatedSession.cart);\n    waPayload = btnMsg(\n      `Agregado!\\n\\n*Tu pedido:*\\n${summary}\\n\\n*Total: ${fmt(total)}*`,\n      [\n        { type: 'reply', reply: { id: 'cart_add', title: 'Agregar mas' } },\n        { type: 'reply', reply: { id: 'cart_pay', title: 'Pagar' } }\n      ],\n      'Carrito'\n    );\n  } else {\n    waPayload = btnMsg(\n      'Cuantas unidades deseas?',\n      [\n        { type: 'reply', reply: { id: 'qty_1', title: '1 unidad' } },\n        { type: 'reply', reply: { id: 'qty_2', title: '2 unidades' } },\n        { type: 'reply', reply: { id: 'qty_3', title: '3 unidades' } }\n      ]\n    );\n  }\n}\n\nelse if (step === 'await_cart') {\n  if (buttonId === 'cart_add') {\n    updatedSession.step = 'await_product';\n    updatedSession.cur = {};\n    waPayload = buildProductListMsg();\n  } else if (buttonId === 'cart_pay') {\n    updatedSession.step = 'await_pago';\n    waPayload = btnMsg(\n      `Total: ${fmt(cartTotal(session.cart))}\\n\\nComo vas a pagar?`,\n      [\n        { type: 'reply', reply: { id: 'pago_efectivo', title: 'Efectivo' } },\n        { type: 'reply', reply: { id: 'pago_transfer', title: 'Transferencia' } }\n      ]\n    );\n  } else {\n    const total = cartTotal(session.cart);\n    const summary = cartSummary(session.cart);\n    waPayload = btnMsg(\n      `*Tu pedido:*\\n${summary}\\n\\n*Total: ${fmt(total)}*`,\n      [\n        { type: 'reply', reply: { id: 'cart_add', title: 'Agregar mas' } },\n        { type: 'reply', reply: { id: 'cart_pay', title: 'Pagar' } }\n      ],\n      'Carrito'\n    );\n  }\n}\n\nelse if (step === 'await_pago') {\n  const pagoMap = { pago_efectivo: 'efectivo', pago_transfer: 'transferencia' };\n  const metodo = buttonId ? pagoMap[buttonId] : null;\n  if (metodo) {\n    updatedSession.metodoPago = metodo;\n    updatedSession.step = 'await_observaciones';\n    waPayload = btnMsg(\n      `Metodo de pago: *${metodo}* ✓\\n\\n¿Tienes alguna nota especial para tu pedido?\\n(ej: sin cebolla, extra salsa, sin aji)\\n\\nEscribe tu nota o toca *Omitir*:`,\n      [{ type: 'reply', reply: { id: 'skip_obs', title: 'Omitir' } }]\n    );\n  } else {\n    waPayload = btnMsg(\n      'Como vas a pagar?',\n      [\n        { type: 'reply', reply: { id: 'pago_efectivo', title: 'Efectivo' } },\n        { type: 'reply', reply: { id: 'pago_transfer', title: 'Transferencia' } }\n      ]\n    );\n  }\n}\n\nelse if (step === 'await_observaciones') {\n  if (buttonId === 'skip_obs') {\n    updatedSession.observaciones = null;\n    updatedSession.step = 'await_confirm';\n    const total = cartTotal(session.cart);\n    const summary = cartSummary(session.cart);\n    const tipoLabel = { mesa: 'Mesa', llevar: 'Para Llevar', domicilio: 'Domicilio' }[session.tipoPedido] || session.tipoPedido;\n    let ct = `*Confirmar Pedido*\\n\\nTipo: ${tipoLabel}`;\n    if (session.nombreCliente) ct += `\\nCliente: ${session.nombreCliente}`;\n    if (session.tipoPedido === 'domicilio' && session.direccionCliente) ct += `\\nDireccion: ${session.direccionCliente}`;\n    ct += `\\n\\n*Productos:*\\n${summary}\\n\\n*Total: ${fmt(total)}*\\nPago: ${session.metodoPago}`;\n    waPayload = btnMsg(ct, [\n      { type: 'reply', reply: { id: 'confirm_yes', title: 'Confirmar Pedido' } },\n      { type: 'reply', reply: { id: 'confirm_no', title: 'Cancelar' } }\n    ]);\n  } else if (msgType === 'text' && msgBody && msgBody.trim().length >= 1) {\n    updatedSession.observaciones = msgBody.trim();\n    updatedSession.step = 'await_confirm';\n    const total = cartTotal(session.cart);\n    const summary = cartSummary(session.cart);\n    const tipoLabel = { mesa: 'Mesa', llevar: 'Para Llevar', domicilio: 'Domicilio' }[session.tipoPedido] || session.tipoPedido;\n    let ct = `*Confirmar Pedido*\\n\\nTipo: ${tipoLabel}`;\n    if (session.nombreCliente) ct += `\\nCliente: ${session.nombreCliente}`;\n    if (session.tipoPedido === 'domicilio' && session.direccionCliente) ct += `\\nDireccion: ${session.direccionCliente}`;\n    ct += `\\n\\n*Productos:*\\n${summary}\\n\\n*Total: ${fmt(total)}*\\nPago: ${session.metodoPago}`;\n    ct += `\\n*Nota:* ${msgBody.trim()}`;\n    waPayload = btnMsg(ct, [\n      { type: 'reply', reply: { id: 'confirm_yes', title: 'Confirmar Pedido' } },\n      { type: 'reply', reply: { id: 'confirm_no', title: 'Cancelar' } }\n    ]);\n  } else {\n    waPayload = btnMsg(\n      '¿Tienes alguna nota especial?\\nEscribe tu nota o toca *Omitir*:',\n      [{ type: 'reply', reply: { id: 'skip_obs', title: 'Omitir' } }]\n    );\n  }\n}\n\nelse if (step === 'await_confirm') {\n  if (buttonId === 'confirm_yes') {\n    orderData = {\n      tipoPedido: session.tipoPedido,\n      nombreCliente: session.nombreCliente || undefined,\n      telefonoCliente: phone,\n      direccionCliente: session.tipoPedido === 'domicilio' ? (session.direccionCliente || undefined) : undefined,\n      costoDomicilio: session.tipoPedido === 'domicilio' ? 5000 : undefined,\n      metodo: session.metodoPago || undefined,\n      observaciones: session.observaciones ? `${session.observaciones} | WhatsApp: ${phone}` : `WhatsApp: ${phone}`,\n      productos: (session.cart || []).map(item => ({\n        tipo: item.tipo,\n        varianteId: item.varianteId,\n        sabor1: item.sabor1 || undefined,\n        sabor2: item.sabor2 || undefined,\n        sabor3: item.sabor3 || undefined,\n        cantidad: item.cantidad\n      }))\n    };\n    needsOrderCreation = true;\n    updatedSession = { step: 'await_tipo', cart: [], tipoPedido: null, nombreCliente: null, telefonoCliente: phone, direccionCliente: null, metodoPago: null, observaciones: null, cur: {} };\n    waPayload = null;\n  } else if (buttonId === 'confirm_no') {\n    updatedSession = { step: 'await_tipo_select', cart: [], tipoPedido: null, nombreCliente: null, telefonoCliente: phone, direccionCliente: null, metodoPago: null, observaciones: null, cur: {} };\n    waPayload = btnMsg(\n      'Pedido cancelado.\\n\\nDeseas hacer un nuevo pedido?',\n      [\n        { type: 'reply', reply: { id: 'tipo_mesa', title: 'En Mesa' } },\n        { type: 'reply', reply: { id: 'tipo_llevar', title: 'Para Llevar' } },\n        { type: 'reply', reply: { id: 'tipo_domicilio', title: 'Domicilio' } }\n      ]\n    );\n  } else {\n    const total = cartTotal(session.cart);\n    const summary = cartSummary(session.cart);\n    waPayload = btnMsg(\n      `*Tu Pedido:*\\n${summary}\\n\\n*Total: ${fmt(total)}*\\nPago: ${session.metodoPago}\\n\\nConfirmas?`,\n      [\n        { type: 'reply', reply: { id: 'confirm_yes', title: 'Confirmar Pedido' } },\n        { type: 'reply', reply: { id: 'confirm_no', title: 'Cancelar' } }\n      ]\n    );\n  }\n}\n\nelse {\n  updatedSession = { step: 'await_tipo_select', cart: [], tipoPedido: null, nombreCliente: null, telefonoCliente: phone, direccionCliente: null, metodoPago: null, observaciones: null, cur: {} };\n  waPayload = btnMsg(\n    \"Hola! Bienvenido a D'Firu Pizza.\\n\\nComo deseas tu pedido?\",\n    [\n      { type: 'reply', reply: { id: 'tipo_mesa', title: 'En Mesa' } },\n      { type: 'reply', reply: { id: 'tipo_llevar', title: 'Para Llevar' } },\n      { type: 'reply', reply: { id: 'tipo_domicilio', title: 'Domicilio' } }\n    ]\n  );\n}\n\nreturn [{ json: { phone, waPayload, needsOrderCreation, orderData, updatedSession, originalCart: session.cart || [] } }];"
      },
      "id": "node-006",
      "name": "State Machine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsOrderCreation }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-007",
      "name": "If Create Order",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1380,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $process.env.API_BASE_URL || 'http://backend:3000' }}/auth/login",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ username: $process.env.BOT_USERNAME || 'bot', password: $process.env.BOT_PASSWORD || '' }) }}",
        "options": {}
      },
      "id": "node-008",
      "name": "Bot Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1620,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $process.env.API_BASE_URL || 'http://backend:3000' }}/ordenes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $('Bot Login').first().json.accessToken }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($('State Machine').first().json.orderData) }}",
        "options": {}
      },
      "id": "node-009",
      "name": "Create Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1860,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const sm = $('State Machine').first().json;\nconst order = $('Create Order').first().json;\nconst phone = sm.phone;\nconst cart = sm.originalCart || [];\nconst total = cart.reduce((s, i) => s + (Number(i.subtotal) || 0), 0);\nconst fmt = n => '$' + Number(n).toLocaleString('es-CO');\nconst ordenId = order?.ordenId || order?.id || '?';\nconst waPayload = {\n  messaging_product: 'whatsapp',\n  to: phone,\n  type: 'text',\n  text: {\n    body: `Pedido confirmado! ✅\\n\\n*Orden #${ordenId}*\\nTotal: ${fmt(total)}\\n\\nGracias por tu pedido en D'Firu Pizza!\\nTe avisaremos cuando este listo. 🍕\\n\\nEscribe cualquier mensaje para hacer otro pedido.`\n  }\n};\nreturn [{ json: { phone, waPayload, updatedSession: sm.updatedSession } }];"
      },
      "id": "node-010",
      "name": "Build Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $process.env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $process.env.WA_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.waPayload) }}",
        "options": {}
      },
      "id": "node-011",
      "name": "Send WA Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2340,
        160
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=wa_sess_{{ $('Build Success Message').first().json.phone }}",
        "value": "={{ JSON.stringify($('Build Success Message').first().json.updatedSession) }}",
        "expire": true,
        "ttl": 1800
      },
      "id": "node-012",
      "name": "Redis Clear Session",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2580,
        160
      ],
      "credentials": {
        "redis": {
          "id": "hdN3B1mFgIl1BiZA",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $process.env.WA_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $process.env.WA_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($('State Machine').first().json.waPayload) }}",
        "options": {}
      },
      "id": "node-013",
      "name": "Send WA Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1620,
        440
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=wa_sess_{{ $('State Machine').first().json.phone }}",
        "value": "={{ JSON.stringify($('State Machine').first().json.updatedSession) }}",
        "expire": true,
        "ttl": 1800
      },
      "id": "node-014",
      "name": "Redis Save Session",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1860,
        440
      ],
      "credentials": {
        "redis": {
          "id": "hdN3B1mFgIl1BiZA",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Parse WA Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse WA Payload": {
      "main": [
        [
          {
            "node": "Redis Get Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Get Session": {
      "main": [
        [
          {
            "node": "Get Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Products": {
      "main": [
        [
          {
            "node": "Get Sabores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sabores": {
      "main": [
        [
          {
            "node": "State Machine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "State Machine": {
      "main": [
        [
          {
            "node": "If Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Create Order": {
      "main": [
        [
          {
            "node": "Bot Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WA Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Login": {
      "main": [
        [
          {
            "node": "Create Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order": {
      "main": [
        [
          {
            "node": "Build Success Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Success Message": {
      "main": [
        [
          {
            "node": "Send WA Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA Success": {
      "main": [
        [
          {
            "node": "Redis Clear Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WA Message": {
      "main": [
        [
          {
            "node": "Redis Save Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [
    "whatsapp",
    "orders",
    "bot"
  ]
}